In [1]:
import pandas as pd
import numpy as np
import sklearn

print(pd.__version__)
print(np.__version__)
print(sklearn.__version__)

/home/sidsharma/anaconda3/lib/python3.9/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

1.3.4
1.26.4
0.24.2

In [163]:
def load_data(path):
    data = pd.read_csv(path)
#     print(data.head())
#     print(data.shape)
#     data.info()
#     num_cols = data.select_dtypes(include=["int64", "float64"]).columns
#     cat_cols = data.select_dtypes(include=["object"]).columns
#     print("numerical col: ", num_cols)
#     print("categorical col: ", cat_cols)
    return data

train_data = load_data('train.csv')
test_data = load_data('test.csv')

In [164]:
train_data["Age"].describe()
# print(train_data["Age"].isnull().sum())

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: Age, dtype: float64

In [167]:
# train_data["Embarked"].describe()

In [168]:
age_median = train_data["Age"].median()
print("age_median", age_median)
fare_median = train_data["Fare"].median()
print("fare_median", fare_median)
embark_mode = train_data["Embarked"].mode()
print("embark_mode", embark_mode)

age_median 28.0
fare_median 14.4542
embark_mode 0    S
dtype: object

In [169]:
train_data["Age"].fillna(age_median, inplace=True)
train_data["Fare"].fillna(fare_median, inplace=True)
train_data["Embarked"].fillna(embark_mode[0], inplace=True)

In [170]:
# train_data["Age"].describe()

In [171]:
# train_data["Fare"].describe()

In [172]:
# train_data["Embarked"].describe()

In [173]:
# print(train_data[["Age","Fare","Embarked"]].isnull().sum())

In [174]:
# print(test_data[["Age","Fare","Embarked"]].isnull().sum())

In [175]:
test_data["Age"].fillna(age_median, inplace=True)
test_data["Fare"].fillna(fare_median, inplace=True)
test_data["Embarked"].fillna(embark_mode[0], inplace=True)

In [177]:
print(test_data[["Age","Fare","Embarked"]].isnull().sum())

Age         0
Fare        0
Embarked    0
dtype: int64

In [178]:
m = {'male': 0, 'female': 1}
print(m)

{'male': 0, 'female': 1}

In [179]:
train_data["sex_bin"] = train_data["Sex"].map(m)

In [180]:
train_data[["Sex", "sex_bin"]].head()

      Sex  sex_bin
0    male        0
1  female        1
2  female        1
3  female        1
4    male        0

In [181]:
test_data["sex_bin"] = test_data["Sex"].map(m)

In [182]:
test_data[["Sex", "sex_bin"]].head()

      Sex  sex_bin
0    male        0
1  female        1
2    male        0
3    male        0
4  female        1

In [183]:
full_data = pd.concat([train_data, test_data], ignore_index=True)

In [184]:
full_data.shape

(1309, 13)

In [185]:
full_data["Survived"].isnull().sum()

418

In [186]:
embark_series = pd.get_dummies(full_data["Embarked"], prefix="Embarked")

In [187]:
full_data = pd.concat([full_data, embark_series], axis=1)

In [188]:
full_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  1309 non-null   int64
 1   Survived     891 non-null    float64
 2   Pclass       1309 non-null   int64
 3   Name         1309 non-null   object
 4   Sex          1309 non-null   object
 5   Age          1309 non-null   float64
 6   SibSp        1309 non-null   int64
 7   Parch        1309 non-null   int64
 8   Ticket       1309 non-null   object
 9   Fare         1309 non-null   float64
 10  Cabin        295 non-null    object
 11  Embarked     1309 non-null   object
 12  sex_bin      1309 non-null   int64
 13  Embarked_C   1309 non-null   uint8
 14  Embarked_Q   1309 non-null   uint8
 15  Embarked_S   1309 non-null   uint8
dtypes: float64(3), int64(5), object(5), uint8(3)
memory usage: 136.9+ KB

In [189]:
full_data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'sex_bin', 'Embarked_C',
       'Embarked_Q', 'Embarked_S'],
      dtype='object')

In [190]:
full_data = full_data.drop(columns=["Embarked"])

In [191]:
full_data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'sex_bin', 'Embarked_C',
       'Embarked_Q', 'Embarked_S'],
      dtype='object')

In [192]:
train_data, test_data = full_data[:train_data.shape[0]], full_data[train_data.shape[0]:]

In [193]:
print(train_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    float64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  sex_bin      891 non-null    int64
 12  Embarked_C   891 non-null    uint8
 13  Embarked_Q   891 non-null    uint8
 14  Embarked_S   891 non-null    uint8
dtypes: float64(3), int64(5), object(4), uint8(3)
memory usage: 86.3+ KB
None

In [194]:
print(test_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 891 to 1308
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     0 non-null      float64
 2   Pclass       418 non-null    int64
 3   Name         418 non-null    object
 4   Sex          418 non-null    object
 5   Age          418 non-null    float64
 6   SibSp        418 non-null    int64
 7   Parch        418 non-null    int64
 8   Ticket       418 non-null    object
 9   Fare         418 non-null    float64
 10  Cabin        91 non-null     object
 11  sex_bin      418 non-null    int64
 12  Embarked_C   418 non-null    uint8
 13  Embarked_Q   418 non-null    uint8
 14  Embarked_S   418 non-null    uint8
dtypes: float64(3), int64(5), object(4), uint8(3)
memory usage: 40.5+ KB
None

In [196]:
train_data, test_data = full_data[:train_data.shape[0]], full_data[train_data.shape[0]:]
print(train_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    float64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  sex_bin      891 non-null    int64
 12  Embarked_C   891 non-null    uint8
 13  Embarked_Q   891 non-null    uint8
 14  Embarked_S   891 non-null    uint8
dtypes: float64(3), int64(5), object(4), uint8(3)
memory usage: 86.3+ KB
None

In [197]:
train_data.drop(columns=["PassengerId", "Name", "Sex", "Ticket", "Cabin", "SibSp", "Parch"])
test_data.drop(columns=["PassengerId", "Name", "Sex", "Ticket", "Cabin", "SibSp", "Parch"])

,Survived,Pclass,Age,Fare,sex_bin,Embarked_C,Embarked_Q,Embarked_S
891,NaN,3,34.5,7.8292,0,0,1,0
892,NaN,3,47.0,7.0000,1,0,0,1
893,NaN,2,62.0,9.6875,0,0,1,0
894,NaN,3,27.0,8.6625,0,0,0,1
895,NaN,3,22.0,12.2875,1,0,0,1
...,...,...,...,...,...,...,...,...
1304,NaN,3,28.0,8.0500,0,0,0,1
1305,NaN,1,39.0,108.9000,1,1,0,0
1306,NaN,3,38.5,7.2500,0,0,0,1
1307,NaN,3,28.0,8.0500,0,0,0,1
1308,NaN,3,28.0,22.3583,0,1,0,0

In [198]:
x_train = train_data[["Pclass","Age","Fare","sex_bin","Embarked_C","Embarked_Q","Embarked_S"]]

In [199]:
y_train = train_data["Survived"]

In [200]:
x_test = test_data[["Pclass","Age","Fare","sex_bin","Embarked_C","Embarked_Q","Embarked_S"]]

In [201]:
print(x_train.shape, y_train.shape, x_test.shape)

(891, 7) (891,) (418, 7)

In [202]:
from sklearn.linear_model import LogisticRegression as LR

In [211]:
max_iter = 200
for C in [0.01, 0.1, 1, 10, 100]:
    model = LR(C=C, max_iter=max_iter)
    model.fit(x_train, y_train)
    print(model.score(x_train, y_train))

0.7396184062850729
0.7991021324354658
0.7901234567901234
0.7901234567901234
0.7901234567901234

In [209]:
model.fit(x_train, y_train)

LogisticRegression(max_iter=3000)

In [210]:
# 200 iter - 0.7901234567901234
print(model.score(x_train, y_train))

0.7901234567901234

In [140]:
y_test = model.predict(x_test)

In [141]:
y_test.shape

(418,)

In [153]:
final_df = pd.DataFrame({"PassengerId":test_data["PassengerId"], "Survived":y_test})

In [157]:
final_df.shape
final_df.head()

     PassengerId  Survived
891          892       0.0
892          893       0.0
893          894       0.0
894          895       0.0
895          896       1.0

In [158]:
final_df["Survived"] = final_df["Survived"].astype(int)

In [159]:
final_df.reset_index(drop=True, inplace=True)

In [162]:
final_df.to_csv("./submission_03022026.csv", index=False)